@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: rgb(var(--background-start-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: rgb(10, 10, 10);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.backdrop-blur-sm {
  backdrop-filter: blur(8px);
}

@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}


